<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.devblocks.com/schema/plugin.xsd">
	<id>cerberusweb.mobile</id>
	<name>Mobile Interface</name>
	<description>This plugin provides an alternate mobile-friendly interface.</description>
	<author>Webgroup Media, LLC.</author>
	<version>0.0.36</version>
	<link>http://wiki.cerbweb.com/Plugin:Mobile_Interface</link>
	<image>plugin.png</image>

	<!-- Requirements -->

	<requires>
		<app_version min="7.1" max="7.1.99" />
		<!--<php_extension name="curl" />-->
	</requires>

	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="7.0.0" />
	</dependencies>

	<!-- Exported Classes -->
	
	<class_loader>
		<file path="api/events/abstract_event_mobile_behavior.php">
			<class name="AbstractEvent_MobileBehavior" />
		</file>
		
		<file path="api/events/mobile_behavior.php">
			<class name="Event_MobileBehavior" />
		</file>
		
		<file path="api/profiles.php">
			<class name="Extension_MobileProfileBlock" />
			<class name="MobileProfile_Calendar" />
			<class name="MobileProfile_CalendarEvent" />
			<class name="MobileProfile_EmailAddress" />
			<class name="MobileProfile_Message" />
			<class name="MobileProfile_Org" />
			<class name="MobileProfile_Task" />
			<class name="MobileProfile_Ticket" />
		</file>
	</class_loader>

	<!-- Extensions -->

	<extensions>

		<!-- Controllers -->
	
		<extension point="devblocks.controller">
			<id>core.controller.mobile</id>
			<name>Mobile Controller</name>
			<class>
				<file>api/App.php</file>
				<name>Controller_Mobile</name>
			</class>
			<params>
				<param key="uri" value="m" />
			</params>
		</extension>
		
		<!-- Renderers Render -->	
		
		<extension point="cerberusweb.renderer.prebody">
			<id>mobile.renderer.prebody</id>
			<name>Mobile Pre-body Renderer</name>
			<class>
				<file>api/App.php</file>
				<name>MobilePreBodyRenderer</name>
			</class>
			<params>
			</params>
		</extension>

		<!-- Events -->

		<extension point="devblocks.event">
			<id>event.api.mobile_behavior</id>
			<name>Mobile behavior</name>
			<class>
				<file>api/events/mobile_behavior.php</file>
				<name>Event_MobileBehavior</name>
			</class>
			<params>
				<param key="contexts">
					<value>
						<data key="cerberusweb.contexts.app" />
						<data key="cerberusweb.contexts.role" />
						<data key="cerberusweb.contexts.worker" />
					</value>
				</param>
			</params>
		</extension>
		
		<!-- Mobile Profile Blocks -->

		<extension point="mobile.profile.block">
			<id>mobile.profile.block.calendar</id>
			<name>Mobile calendar profile</name>
			<class>
				<file>api/profiles.php</file>
				<name>MobileProfile_Calendar</name>
			</class>
			<params>
				<param key="contexts">
					<value>
						<data key="cerberusweb.contexts.calendar" />
					</value>
				</param>
			</params>
		</extension>

		<extension point="mobile.profile.block">
			<id>mobile.profile.block.calendar_event</id>
			<name>Mobile calendar event profile</name>
			<class>
				<file>api/profiles.php</file>
				<name>MobileProfile_CalendarEvent</name>
			</class>
			<params>
				<param key="contexts">
					<value>
						<data key="cerberusweb.contexts.calendar_event" />
					</value>
				</param>
			</params>
		</extension>

		<extension point="mobile.profile.block">
			<id>mobile.profile.block.email_address</id>
			<name>Mobile email address profile</name>
			<class>
				<file>api/profiles.php</file>
				<name>MobileProfile_EmailAddress</name>
			</class>
			<params>
				<param key="contexts">
					<value>
						<data key="cerberusweb.contexts.address" />
					</value>
				</param>
			</params>
		</extension>

		<extension point="mobile.profile.block">
			<id>mobile.profile.block.message</id>
			<name>Mobile message profile</name>
			<class>
				<file>api/profiles.php</file>
				<name>MobileProfile_Message</name>
			</class>
			<params>
				<param key="contexts">
					<value>
						<data key="cerberusweb.contexts.message" />
					</value>
				</param>
			</params>
		</extension>

		<extension point="mobile.profile.block">
			<id>mobile.profile.block.notification</id>
			<name>Mobile notification profile</name>
			<class>
				<file>api/profiles.php</file>
				<name>MobileProfile_Notification</name>
			</class>
			<params>
				<param key="contexts">
					<value>
						<data key="cerberusweb.contexts.notification" />
					</value>
				</param>
			</params>
		</extension>

		<extension point="mobile.profile.block">
			<id>mobile.profile.block.org</id>
			<name>Mobile org profile</name>
			<class>
				<file>api/profiles.php</file>
				<name>MobileProfile_Org</name>
			</class>
			<params>
				<param key="contexts">
					<value>
						<data key="cerberusweb.contexts.org" />
					</value>
				</param>
			</params>
		</extension>

		<extension point="mobile.profile.block">
			<id>mobile.profile.block.task</id>
			<name>Mobile task profile</name>
			<class>
				<file>api/profiles.php</file>
				<name>MobileProfile_Task</name>
			</class>
			<params>
				<param key="contexts">
					<value>
						<data key="cerberusweb.contexts.task" />
					</value>
				</param>
			</params>
		</extension>

		<extension point="mobile.profile.block">
			<id>mobile.profile.block.ticket</id>
			<name>Mobile ticket profile</name>
			<class>
				<file>api/profiles.php</file>
				<name>MobileProfile_Ticket</name>
			</class>
			<params>
				<param key="contexts">
					<value>
						<data key="cerberusweb.contexts.ticket" />
					</value>
				</param>
			</params>
		</extension>

	</extensions>
</plugin>
