@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'),
    local('Lato-Regular'),
    url(fonts/lato-regular.woff) format('woff'),
    url(fonts/lato-regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'),
    local('Lato-Bold'),
    url(fonts/lato-bold.woff) format('woff'),
    url(fonts/lato-bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'),
    local('Lato-Black'),
    url(fonts/lato-black.woff) format('woff'),
    url(fonts/lato-black.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'),
    local('Lato-Italic'),
    url(fonts/lato-italic.woff) format('woff'),
    url(fonts/lato-italic.ttf) format('truetype');
}

body,
input,
select,
textarea,
button,
.ui-btn {
	font-size: 1em;
	line-height: 1.3;
	font-family: Lato, Helvetica, Arial, sans-serif;
}

.ui-overlay-a {
	background-color: #000000 /*{a-page-background-color}*/;
	border-color: #000000 /*{a-page-border}*/;
}

.ui-field-contain {
	border:0;
	padding:0.4em 0;
}

#cerb-panel {
	background-color: #2B3E51;
}

#cerb-panel ul.ui-listview li.ui-li-divider {
	border: 0;
}

.ui-page h1, .ui-page h2, .ui-page h3 {
	margin: 0px 0px 15px 0px;
}

.ui-header, .ui-footer {
	border: 0;
}

ul.ui-listview h3 {
	overflow: visible;
	white-space: normal;
	word-wrap: break-word;
	word-break: break-word;
}

.ui-table td {
	overflow: visible;
	white-space: normal;
	word-wrap: break-word;
	word-break: break-word;
}

.ui-collapsible-content {
	margin-top: 0px;
	padding-top: 10px
}

ul.ui-listview > li > a.ui-btn {
	border: 0;
}

p.cerb-profile-properties {
	margin-top:0;
	margin-bottom:8px;
	font-size:14px;
}

p.cerb-profile-properties b {
}

p.cerb-profile-properties span {
	margin-left: 10px;
}

table.cerb-calendar {
	/*
	border-top:1px solid rgb(190,190,190);
	border-left:1px solid rgb(190,190,190);
	*/
}

table.cerb-calendar-headings th {
	font-weight: normal;
	width: 14%;
}

table.cerb-calendar td {
	font-size: 14px;
	/*
	border-right:1px solid rgb(190,190,190);
	border-bottom:1px solid rgb(190,190,190);
	*/
	text-align:center;
	width:14%;
	height:45px;
}

table.cerb-calendar td.cerb-calendar-padding {
	background-color:rgb(220,220,220);
}

table.cerb-calendar td.cerb-calendar-day-with-events {
	cursor: pointer;
}

table.cerb-calendar td div {
	display: inline-block;
	text-shadow: none;
	width: 20px;
	height: 20px;
	line-height: 20px;
	border-radius: 20px;
	padding: 3px;
	border: 0px solid rgb(110,110,110);
}
	
table.cerb-calendar td.cerb-calendar-day-with-events div {
	font-weight: bold;
	background-color: rgb(255,255,255);
	border-width: 2px;
	color: rgb(110,110,110);
}

table.cerb-calendar td.selected {
	background-color:rgb(250,225,90);
}

table.cerb-calendar td.today div {
	background-color: rgb(50,85,115);
	border: 2px solid rgb(50,85,115);
	color: rgb(255,255,255);
}

div.cerb-message-contents {
	border: 1px solid rgb(242,242,242);
	background-color: white;
	border-radius: 0px 0px 8px 8px;
	padding: 8px;
	font-size: 12px;
	white-space: pre-wrap;
	word-wrap: break-word;
	word-break: break-word;
}

#cerb-panel li a {
	white-space: normal;
}

#cerb-footer .ui-btn {
	padding-top:40px;
}

#footer-notifications .ui-icon-cerb-badge-count {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	margin: -15px 0px 0px -17px;
	border-radius: 10px;
	background: none;
	text-shadow: none;
	height: 16px;
	width: 30px;
	line-height: 16px;
	padding: 2px 4px;
	font-size: 16px;
	font-weight: bold;
	background-color: rgb(100,100,100);
}

#footer-notifications .ui-icon-cerb-badge-count.nonzero {
	background-color: rgb(200,0,0);
}

#footer-workspaces:after {
	background: url(images/wgm/cerb-sprites.png) no-repeat top left;
	background-position: 0 -82px; width: 32px; height: 32px;
	border-radius: 0;
	margin-left:-16px;
}

#footer-bots:after {
	background: url(images/wgm/cerb-sprites.png) no-repeat top left;
	background-position: 0 0; width: 32px; height: 32px;
	border-radius: 0;
	margin-left:-16px;
}

.ui-page .cerb-page-bots-behavior-results .cerb-va-message a {
	font-weight: bold;
	color: black;
	word-wrap: break-word;
	word-break: break-word;
}

/* Bot chat */

.bot-chat-window div.bot-chat-message {
	margin: 10px 10px 5px 10px;
	margin: 10px 0px 5px 0px;
}

.bot-chat-window div.bot-chat-message p {
	margin: 2px;
}

.bot-chat-window div.bot-chat-message ul, .bot-chat-window div.bot-chat-message ol {
	margin: 2px;
	padding-left: 25px;
}

.bot-chat-window div.bot-chat-message-emote {
	color:rgb(150,150,150);
}

.bot-chat-window .bot-chat-left {
	float:left;
	text-align:left;
}

.bot-chat-window .bot-chat-right {
	float:right;
	text-align:right;
}

.bot-chat-window div.bot-chat-message-bubble {
	border-radius:5px;
	display:inline-block;
	padding:10px;
	margin-bottom:1px;
	text-align:left;
}

.bot-chat-window > div.bot-chat-window-convo div.bot-chat-message.bot-chat-left > div.bot-chat-message-bubble {
	background-color:rgb(240,240,240);
	border:1px solid rgb(230,230,230);
	border:0;
	border-radius:0px 12px 12px 12px;
	margin-left:5px;
}

.bot-chat-window > div.bot-chat-window-convo div.bot-chat-message.bot-chat-right > div.bot-chat-message-bubble {
	color:white;
	background-color:rgb(35,150,255);
	border:0;
	border-radius:12px 0px 12px 12px;
}

.bot-chat-window > div.bot-chat-window-convo div.bot-chat-message-time {
	color:rgb(180,180,180);
}

.bot-chat-window INPUT.bot-chat-input {
	width:95%;
	font-size:1em;
	padding:5px;
	margin-top: 10px;
	border-radius:5px;
	border:1px solid rgb(220,220,220);
}

.bot-chat-window BUTTON.bot-chat-button {
	color: white;
	padding: 5px;
	width: 100%;
	font-size: 1.25em;
	font-family: inherit;
	font-weight: bold;
	margin: 2px;
	border: 0;
	vertical-align: middle;
	cursor: pointer;
	background-color: #2396FF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
}

.bot-chat-window BUTTON.bot-chat-button:hover {
	opacity:0.8;
}

.bot-chat-window BUTTON.bot-chat-button-image {
	padding: 5px;
	font-weight: bold;
	margin: 0;
	border: 0;
	line-height: 0;
	cursor: pointer;
	/*border-radius:5em;*/
}

.bot-chat-window BUTTON.bot-chat-button-image:hover {
	opacity:0.8;
}

.bot-chat-window BUTTON.bot-chat-button-image IMG {
	border: 0;
	padding: 0;
}

/* atwho.js */

.atwho-view {
    position:absolute;
    top: 0;
    left: 0;
    display: none;
    margin-top: 18px;
    background: white;
    border: 1px solid #DDD;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    min-width: 120px;
    z-index: 11110 !important;
}

.atwho-view .cur {
    background: #3366FF;
    color: white;
}
.atwho-view .cur small {
    color: white;
}
.atwho-view strong {
    color: #3366FF;
}
.atwho-view .cur strong {
    color: white;
    font:bold;
}
.atwho-view ul {
    list-style:none;
    padding:0;
    margin:auto;
}
.atwho-view ul li {
    display: block;
    padding: 5px 10px;
    border-bottom: 1px solid #DDD;
    cursor: pointer;
}
.atwho-view small {
    font-size: smaller;
    color: #777;
    font-weight: normal;
}
